
	<body class="home onepage-home">		
	
		<!-- Header Section -->
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
					
						<!-- Responsive Menu Trigger -->
						<a id="trigger" href="#" title="Menu"><i class="fa fa-bars"></i></a>
						
						<!-- Website Logo -->
						<a class="navbar-brand" href="index.html"><img class="logo" alt="" src="assets/light-logo-2.png"><img class="logo2" alt="" src="assets/light-logo.png"></a>
					</div>
					
					<!-- Main Menu -->
					<nav id="main-menu">
						<div class="menu-container">
							<ul>
								<li class="menu-item drop">
									<a href="#">Home</a>
									<div class="menu-container">
										<a class="mp-back" href="#">back</a>
										<ul>
											<li class="menu-item"><a href="home.html">MultiPage Version</a></li>
											<li class="menu-item"><a href="index.html">OnePage Version</a></li>
										</ul>
									</div>
								</li>
								<li class="menu-item drop">
									<a href="#">Blog</a>
									<div class="menu-container">
										<a class="mp-back" href="#">back</a>
										<ul>
											<li class="menu-item"><a href="blog-grid.html">Blog Grid</a></li>
											<li class="menu-item"><a href="blog-list.html">Blog List</a></li>
											<li class="menu-item drop">
												<a href="#">Blog Single</a>
												<div class="menu-container">
													<a class="mp-back" href="#">back</a>
													<ul>
														<li class="menu-item"><a href="blog-single.html">Blog No Sidebar</a></li>
														<li class="menu-item"><a href="blog-sidebar.html">Blog With Sidebar</a></li>
														<li class="menu-item"><a href="blog-sidebar-2.html">Blog With Gallery</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu-item drop">
									<a href="#">Portfolio</a>
									<div class="menu-container">
										<a class="mp-back" href="#">back</a>
										<ul>
											<li class="menu-item">
												<a href="portfolio-masonry.html">Portfolio Masonry</a>
											</li>
											<li class="menu-item">
												<a href="portfolio-single.html">Portfolio Single</a>
											</li>
											<li class="menu-item">
												<a href="portfolio-slideshow.html">Portfolio Slideshow</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu-item drop">
									<a href="#">Pages</a>
									<div class="menu-container">
										<a class="mp-back" href="#">back</a>
										<ul>
											<li class="menu-item"><a href="about.html">About Us</a></li>
											<li class="menu-item"><a href="services.html">Services</a></li>
											<li class="menu-item"><a href="services-2.html">Services #2</a></li>
											<li class="menu-item"><a href="contact.html">Contact Us</a></li>
										</ul>
									</div>
								</li>
								<li class="menu-item"><a href="#">Dark Version</a></li>
							</ul>
						</div>
					</nav>
					<!-- End Main Menu -->
					
					<ul class="navbar-right">
						<!-- One Page Layout Navigation Buttons -->
						<li id="ajax-b1"><a href="#" class="tmq_closeserv" title="Back to Home"><i class="fa fa-home"></i></a></li>
						<li id="ajax-b2"><a href="#" class="link-index" title="Back to List"><i class="fa fa-th-large"></i></a></li>
						<li id="ajax-b3"><a href="#" class="link-prev" title="Previous"><i class="fa fa-chevron-left"></i></a></li>
						<li id="ajax-b4"><a href="#" class="link-next" title="Next"><i class="fa fa-chevron-right"></i></a></li>
						<!-- End One Page Layout Navigation Buttons -->
						
						<!-- Search Button -->
						<li id="search" data-toggle="popover"><a href="javascript:void(0);" class="top-search" title="Search"><i class="fa fa-search"></i></a></li>
						<!-- End Search Button -->
					</ul>
				</div>
			</div>
		</header>
		<!-- End Header -->
		
		<!-- Website Preloading for OnePage Version -->
<!-- 		<div class="loading-content">
			<div id="stage">
				<p id="spinner"><img alt="loading" src="assets/loading.png"><BR><BR>Loading...</p>
			</div>
		</div> -->
		<!-- End Preloading -->	
		
		<!-- Main Container Section -->	
		<div class="container">
			<div id="ajax-container">
				
				<!-- Content of Inner Pages Will Load Here with Ajax -->
				<div id="page-content">

				</div>
				<!-- End Content of Inner Pages -->

				<!-- Onepage Index Page Content -->
				<div id="ajax-loader">
					<div class="row">
						<div class="col-md-12">
						
							<!-- FLIP MENU Container -->
							<div class="row flip-menu">
								
								<!-- Flip Menu Item #1 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p23.jpg">
											</div>
											
											<!-- Back Side -->
											<a href="portfolio-slideshow.html">
												<div class="flip-hover-content">
													<img alt="" src="assets/p23.jpg">
													<div class="overlay">
														<h3>Portfolio Slideshow</h3>
														<p>This is a sample project with OWL slideshow. Don't miss this new one page loading website!</p>
														<i class="fa fa-arrow-right"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #2 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-camera"></i>
													<h3>Portfolio Masonry</h3>
												</div>
											</div>	
											
											<!-- Back Side -->
											<a href="portfolio-masonry.html">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-camera"></i>
														<h3>Portfolio Masonry</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #3 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p12.jpg">
											</div>
											
											<!-- Back Side -->
											<div class="flip-hover-content">
												<img alt="" src="assets/p12.jpg">
												<div class="overlay">
													<div class="spacer small"></div>
													<p>You can put only an image without a link here. Of course if you don't have too much content<BR><BR> This <strong>white overlay</strong> is optional too. It's easy and flexible. Just imagine your content here...</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #4 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-user"></i>
													<h3>About Us</h3>
												</div>
											</div>
											
											<!-- Back Side -->
											<a href="about.html">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-user"></i>
														<h3>About Us</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #5 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-map-marker"></i>
													<h3>Contact Us</h3>
												</div>
											</div>
											
											<!-- Back Side -->
											<a href="contact.html">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-map-marker"></i>
														<h3>Contact Us</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #6 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p17.jpg">
											</div>
											
											<!-- Back Side -->
											<a href="services-2.html">
												<div class="flip-hover-content">
													<img alt="" src="assets/p17.jpg">
													<div class="overlay">
														<h3>Services Alternative</h3>
														<p>This is another example of services page. We have various elements for services page.</p>
														<i class="fa fa-arrow-right"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #7 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-pencil"></i>
													<h3>Blog</h3>
												</div>
											</div>
											
											<!-- Back Side -->
											<a href="blog-grid.html">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-pencil"></i>
														<h3>Blog</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #8 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p16.jpg">
											</div>
											
											<!-- Back Side -->
											<a href="blog-list.html">
												<div class="flip-hover-content">
													<img alt="" src="assets/p16.jpg">
													<div class="overlay">
														<h3>Classic Blog Style</h3>
														<p>A blog could be in grid or classic style. This one is the classic style. <strong>Click to see it!</strong></p>
														<i class="fa fa-arrow-right"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #9 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p22.jpg">
											</div>
											
											<!-- Back Side -->
											<a href="blog-sidebar.html">
												<div class="flip-hover-content">
													<img alt="" src="assets/p22.jpg">
													<div class="overlay">
														<h3>Blog with Sidebar</h3>
														<p>This is a blog with a featuring image on it. You may have image or slideshow on each post.</p>
														<i class="fa fa-arrow-right"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #10 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-rocket"></i>
													<h3>Our Services</h3>
												</div>
											</div>
											
											<!-- Back Side -->
											<a href="services.html">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-rocket"></i>
														<h3>Our Services</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #11 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content">
												<img alt="" src="assets/p18.jpg">
											</div>
											
											<!-- Back Side -->
											<a href="portfolio-2.html">
												<div class="flip-hover-content">
													<img alt="" src="assets/p18.jpg">
													<div class="overlay">
														<h3>Portfolio Single</h3>
														<p>A new project is risening up in our portfolio and I’m sure you will love it! We call it Bokeh Photography...</p>
														<i class="fa fa-arrow-right"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								
								<!-- Flip Menu Item #12 -->
								<div class="col-md-3 col-sm-6">
									<div class="flip-item">
										<div class="flip-wrapper">
										
											<!-- Front Side -->
											<div class="flip-content iconned">
												<div class="flip-inner">
													<i class="fa fa-shopping-cart"></i>
													<h3>Buy Now!</h3>
												</div>
											</div>
											
											<!-- Back Side -->
											<a href="http://themeforest.net/item/bokeh-html-template-for-blog-portfolio-business/9330975" class="noAjax">
												<div class="flip-hover-content iconned">
													<div class="flip-inner">
														<i class="fa fa-heart"></i>
														<h3>Buy Now!</h3>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End FLIP MENU Container -->
						</div>
					</div>
				</div>
				<!-- End OnePage Index Page Content -->
				
			</div>
		</div>
		<!-- End Container -->
		
		<!-- Footer Section -->
		<footer class="footer">
			<div class="container">
				<div class="footer-logo">Bokeh</div>
				<div class="footer-copyright"><p class="text-muted">Copyright 2014. Bokeh Site Template</p></div>
				<ul class="footer-social">
					<li><a href="#" title="Follow on Facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" title="Follow on Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" title="Follow Pinterest"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#" title="Follow Instagram"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</footer>
		<!-- End Footer -->
		
		<!-- Search box will be used in header PopOver -->
		<div id="popover-content" class="hide">
			<form class="sidebar-searchbox" method="get" action="#">
				<input type="search" name="s" placeholder="Search and hit Enter!">
			</form>
		</div>
		
		<!-- Back to Top Button -->
		<a href="#" id="back-to-top"><i class="fa fa-arrow-up"></i></a>
		
		<!-- Color Switcher - Only in Demo -->
	<!-- 	<ul id="navigation">
			<li><span><i class="fa fa-cogs"></i></span>
				<div id="panel">
					<div class="colour-container">
						<h5>SAMPLE COLORS:</h5>				
						<a class="style_1"></a>
						<a class="style_2"></a>
						<a class="style_3"></a>
						<a class="style_4"></a>
					</div><BR><BR>
					<hr />
					<div class="sw-width-container">
						<a href="../index.html" class="premade">Other Demos</a>
					</div>
				</div>
			</li>
		</ul> -->
		<!-- End Color Switcher -->
		
		<!-- Include all other Javascripts or include their minify version -->
		<script src="assets/js/jquery-1.11.1.min.js"></script>
		<script src="assets/js/jquery.migrate.js"></script>
		<script src="assets/js/navigate.js"></script>
		<script src="assets/js/ajax-loader.js"></script>
		<script src="assets/js/jquery-ui.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/plugins-scroll.js"></script>
		<script src="assets/js/jquery.fitvids.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/imagesloaded.pkgd.min.js"></script>
		<script src="assets/js/jquery.isotope.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/classie.js"></script>
		<script src="assets/js/mlpushmenu.js"></script>
		<script src="assets/js/randomBlue.js"></script>
		<script src="assets/js/scripts.js"></script>
		<script src="assets/js/switcher.js"></script>
	</body>