
<style type="text/css">
h1,h2,h3,h4,h5,h6 {font-family: Open Sans,sans-serif;}body {font-family: Open Sans,sans-serif;}body {font-weight: 400;}#home {background: url(assets/home-bg.jpg) center center;
background-position: center center;-moz-background-size: cover;-o-background-size: cover;background-size: cover;position: relative;height: auto;overflow: hidden;}#home {background-color: #50449a !important;
}
#download-app {
background-image: url(assets/phone-04.png);
background-position: center bottom;background-repeat: no-repeat;background-size: cover;display:block;position:relative;}
#testimonial {
background-image: url(assets/feedback-bg.jpg);
background-position: center center;background-repeat: no-repeat;background-size: cover;display:block;position:relative;}
#contact {
background-image: url(assets/cibg.jpg);
background-position: center center;background-repeat: no-repeat;background-size: cover;display:block;position:relative;}
#vimeo-video {
background-image: url(assets/video-bg.jpg);
background-position: right bottom;background-repeat: no-repeat;background-size: cover;display:block;position:relative;}

</style>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

<body class="home page page-id-24 page-template page-template-page-home-php">

    <!-- start preloader -->
<!--     <div id="preloader">
        <div id="status">&nbsp;</div>
    </div> -->
    <!-- end preloader -->

		
    <!-- start home -->
    <div id="home">
					<div class="section-overlay"></div>
				       

        <!-- start sticky header -->
        <div id="header"> 
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start logo navigation bar --> 
                        <div id="logo-small">
							<a href="index.html"><img src="assets/logo-small@2x.png" alt="" width="89" height="36" /></a>	
						</div>
                        <!-- end logo navigation bar -->
						
						<ul id="nav" class="">
						<li id="menu-item-115"><a href="index.html#home"><i class="_mi _before fa fa-home"></i><span>Home</span></a></li>
<li id="menu-item-43"><a href="#services"><i class="_mi _before fa fa-cog"></i><span>Services</span></a></li>
<li id="menu-item-111"><a href="#vimeo-video"><i class="_mi _before fa fa-laptop"></i><span>Presentation</span></a></li>
<li id="menu-item-42"><a href="#features"><i class="_mi _before fa fa-star"></i><span>Features</span></a></li>
<li id="menu-item-109"><a href="#screenshots"><i class="_mi _before fa fa-desktop"></i><span>Gallery</span></a></li>
<li id="menu-item-110"><a href="#download-app"><i class="_mi _before fa fa-cloud-download"></i><span>Download app</span></a></li>
</ul>	


                        <div id="nav-toggle">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end sticky header -->

		    
	<div class="inner offsetBottomL offsetTopL" data-0="top: 200px; opacity: 1;" data-450="top: 370px; opacity:0;">
            <div class="container">
                <div class="row">

                    <div class="col-sm-7 text-center content-right">

                        <!-- start main logo -->
						<h1 id="logo">
                            <a href="index.html">
                                <img src="assets/logo@2x.png" width="175" height="70" alt="" title="" />
                            </a>
                        </h1>
						                        <!-- end main logo -->
												<div class="big-text">
                            <ul id="text-rotator" class="owl-carousel owl-theme">
													<li><span>Sync was designed to become</span></li>
													<li><span>Your perfect landing page</span></li>
												</ul>
                        </div>
						
						                        <div class="small-text">
                            <span>
                                Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.                             </span>
                        </div>
						
                        <div class="home-buttons">
							                            <a href="#" class="btn btn-primary btn-lg">Download</a>
														                            <a href="#" class="btn btn-subscribe-home btn-lg">Learn more</a>
													</div>

                        <ul class="os">
						                            <li><a href="#" data-toggle="tooltip" data-original-title="App Store"><i class='fa fa-apple'></i></a></li>
                           
												
							<li><a href="#" data-toggle="tooltip" data-original-title="Android Market"><i class='fa fa-android'></i></a></li>
                               
							
							<li><a href="#" data-toggle="tooltip" data-original-title="Windows Mobile"><i class='fa fa-windows'></i></a></li>
                           
						</ul>
                    </div>

                    <div class="col-sm-5">
					                        <img src="assets/phones-01.png" class="img-responsive" alt="" />
					                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end home --><section id="services" class="home-section home-26 homepagesection-services offsetTopL offsetBottomL white-bg" >
	
	<div class="container">	
		
					<div class="row section-head offsetBottomL text-center">
											<h2>Take a look to see our services</h2>
																		<p>One machine can do the work of fifty ordinary men. No machine can do the work of one. Extraordinary man.</p>
											<hr class="head-separator" />
			</div>
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
<div class="services-item">
	<i class="fa fa-mobile"></i>
	<h3>Responsive layout</h3>
	<p>
Nulla interdum neque vel nulla gravida, eu viverra est eleifend.<br />
</p></div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<div class="services-item">
	<i class="fa fa-comments"></i>
	<h3>Customer support</h3>
	<p>
Nulla interdum neque vel nulla gravida, eu viverra est eleifend.<br />
</p></div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<div class="services-item">
	<i class="fa fa-heart"></i>
	<h3>Lovely design</h3>
	<p>
Nulla interdum neque vel nulla gravida, eu viverra est eleifend.<br />
</p></div>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
<div class="services-item">
	<i class="fa fa-tag"></i>
	<h3>Branding</h3>
	<p>
Nulla interdum neque vel nulla gravida, eu viverra est eleifend.<br />
</p></div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><img class="img-responsive alignnone" src="assets/phones-02.png" alt="" /></p>
			</div>
		</div>
	</div>
</section><section id="vimeo-video" class="home-section home-71 homepagesection-vimeo-video offsetTopL offsetBottomL white-bg" >
<div class="section-overlay"></div>
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<h3 style="text-align: center;"><span style="color: #ffffff;">Responsive Vimeo &amp; YouTube videos</span></h3>
<p>&nbsp;</p>

		<div class="play-button">
		<a href="http://vimeo.com/14428901" title="Video Presentation"><i class="fa fa-play"></i></a>
		</div>
	
			</div>
		</div>
	</div>
</section><section id="responsive-retina-ready-clean" class="home-section home-113 homepagesection-responsive-retina-ready-clean offsetTopL offsetBottomL white-bg" >
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="row">
<div class="col-sm-6 col-md-6">
<div class="wow fadeInLeft" data-wow-duration="1s">
<p><img class="img-responsive alignnone" src="assets/phones-011.png" alt="" /></p>
</div>
</div>
<div class="col-sm-6 col-md-6">
<div class="wow fadeInRight" data-wow-duration="2s">
<h2>Responsive, Retina Ready &amp; Clean</h2>
<p>Praesent gravida metus hendrerit consequat gravida. Maecenas posuere vitae nisl ornare venenatis. Aenean id laoreet magna, ac hendrerit dolor. Praesent sagittis facilisis orci, id sollicitudin nunc cursus eu.</p>
<p>&nbsp;</p>
<ul class="feat-list">
<li><i class="fa fa-share"></i><p>
<h3>Awesome design</h3>
<p>Praesent gravida metus hendrerit consequat gravida.<br />
</p></li>
<li><i class="fa fa-flag"></i><p>
<h3>Fully responsive</h3>
<p>Praesent gravida metus hendrerit consequat gravida.<br />
</p></li>
<li><i class="fa fa-flash"></i><p>
<h3>Retina Ready</h3>
<p>Praesent gravida metus hendrerit consequat gravida.<br />
</p></li>
</ul>
</div>
</div>
<p>&nbsp;</p>
</div>
			</div>
		</div>
	</div>
</section><section id="look-awesome-on-small-screens" class="home-section home-35 homepagesection-look-awesome-on-small-screens offsetTopL nooffsetBottomL grey-bg" >
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="row">
<div class="col-sm-6 col-md-6">
<div class="wow fadeInLeft" data-wow-duration="2s">
<h2>Look awesome on small screens</h2>
<p>Praesent gravida metus hendrerit consequat gravida. Maecenas posuere vitae nisl ornare venenatis. Aenean id laoreet magna, ac hendrerit dolor.</p>
<p>&nbsp;</p>
<ul class="feat-list">
<li><i class="fa fa-check"></i><p>Praesent gravida metus hendrerit consequat gravida.</p></li>
<li><i class="fa fa-check"></i><p>Praesent gravida metus hendrerit consequat gravida.</p></li>
<li><i class="fa fa-check"></i><p>Praesent gravida metus hendrerit consequat gravida.</p></li>
</ul>
</div>
</div>
<div class="col-sm-6 col-md-6">
<div class="wow fadeInRight" data-wow-duration="2s">
<p><img class="img-responsive alignnone" src="assets/phones-03.png" alt="" /></p>
</div>
</div>
</div>
			</div>
		</div>
	</div>
</section><section id="section-image-slider" class="home-section home-38 homepagesection-section-image-slider offsetTopL offsetBottomL white-bg" >
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<div class="section-slider owl-carousel owl-theme">
<div class="item"><img src="assets/11.jpg" alt="" /></div>
<div class="item"><img src="assets/21.jpg" alt="" /></div>
</div>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<h2>Section image slider</h2>
<p>Phasellus semper massa sit amet metus dictum bibendum. Donec at dui ipsum. Maecenas sagittis tincidunt magna. Proin vulputate mauris porttitor semper venenatis. Nulla quis sem eget dolor eleifend elementum id at lorem.</p>
<p>Nunc faucibus venenatis aliquet. Proin interdum nunc sit amet nisl auctor, eu suscipit tortor commodo. Mauris in ultricies risus.</p>
<p>&nbsp;</p>
<a href="#" class="btn btn-md btn-primary">Primary button</a>
</div>
</div>
			</div>
		</div>
	</div>
</section><section id="testimonial" class="home-section home-67 homepagesection-testimonial offsetTopL offsetBottomL grey-bg" >
<div class="section-overlay"></div>
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="text-center"><div class="owl-carousel owl-theme testimonials"><div class="item"><div class="profile-photo"><img src="assets/client2.jpg" alt="" /></div><p class="comment">"Ut eget purus malesuada, tempor odio et, luctus purus. Donec eu arcu id quam vehicula blandit convallis eget diam. Etiam nec arcu ac velit sodales tempus ac eu enim. Praesent sed nulla ac neque ornare volutpat non ac nulla. Sed turpis elit, hendrerit non blandit ut, iaculis ut orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p><p class="client-info">CEO -- www.website.com</p></div><div class="item"><div class="profile-photo"><img src="assets/client1.jpg" alt="" /></div><p class="comment">"Nulla tempus tellus dolor, sit amet hendrerit mi gravida ac. Proin pharetra porttitor massa, at hendrerit odio vestibulum id. Nunc euismod pretium odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Nam sed tortor eget magna condimentum egestas et sit amet nibh"</p><p class="client-info">Marketing Manager - www.website.com</p></div></div></div>
			</div>
		</div>
	</div>
</section><section id="features" class="home-section home-27 homepagesection-features offsetTopL offsetBottomL white-bg" >
	
	<div class="container">	
		
					<div class="row section-head offsetBottomL text-center">
											<h2>Our awesome features</h2>
																		<p>Aenean tincidunt suscipit augue et aliquam. Suspendisse vitae felis mi. Nullam dictum velit tortor, ac laoreet orci auctor nec</p>
											<hr class="head-separator" />
			</div>
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="row">
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-flag"></i>
	<h3> 439 Font Awesome icons</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-pencil"></i>
	<h3> Extremely easy to customize</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-eye"></i>
	<h3> Perfect on Retina Displays</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
</div>
<div class="row">
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-check"></i>
	<h3>Functional subscription form</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-coffee"></i>
	<h3>Built in Bootstrap 3</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature-item"><i class="fa fa-coffee"></i>
	<h3>Modular sections</h3>
	<p>
The march of science and technology does not imply growing intellectual complexity in the lives of most people. It often means the opposit<br />
</p></div>
</div>
</div>
			</div>
		</div>
	</div>
</section><section id="screenshots" class="home-section home-44 homepagesection-screenshots offsetTopL offsetBottomL grey-bg" >
	
	<div class="container">	
		
					<div class="row section-head offsetBottomL text-center">
											<h2>Some screenshots</h2>
																		<p>Aenean tincidunt suscipit augue et aliquam. Suspendisse vitae felis mi. Nullam dictum velit tortor, ac laoreet orci auctor nec.</p>
											<hr class="head-separator" />
			</div>
			
		
		<div class="row">
			<div class="col-md-12">
					<div id="gallery" class="row"><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/1.jpg" data-lightbox-gallery="gallery1" title="Sample description"><img src="assets/1.jpg" alt="" /></a></div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/2.jpg" data-lightbox-gallery="gallery1" title="Sample description"><img src="assets/2.jpg" alt="" /></a></div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/3.jpg" data-lightbox-gallery="gallery1" title="Sample description"><img src="assets/3.jpg" alt="" /></a></div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/4.jpg" data-lightbox-gallery="gallery1" title="Sample description"><img src="assets/4.jpg" alt="" /></a></div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/5.jpg" data-lightbox-gallery="gallery1" title="Sample description"><img src="assets/5.jpg" alt="" /></a></div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><a href="assets/6.jpg" data-lightbox-gallery="gallery1" title="Some portfolio desc"><img src="assets/6.jpg" alt="" /></a></div></div>
			</div>
		</div>
	</div>
</section><section id="download-app" class="home-section home-55 homepagesection-download-app offsetTopL offsetBottomL white-bg" >
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="text-center"><ul class="os-big">
<li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
<li><a href="#"><i class="fa fa-android"></i>Android Market</a></li>
<li><a href="#"><i class="fa fa-windows"></i>Windows Mobile</a></li>
</ul></div>
			</div>
		</div>
	</div>
</section><section id="subscribe" class="home-section home-79 homepagesection-subscribe offsetTopL nooffsetBottomL white-bg" >
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					
<div class="subscribe-form row">
                 <form action="http://themespixel.us7.list-manage.com/subscribe/post-json?u=99a70ac1e9b8dd0bce63b89b1&amp;id=b83bfc4581&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mc-embedded-subscribe-form validate" target="_blank" novalidate>
                    <div class="col-sm-8">
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Please enter your email address" required> 
                    </div>
                    <div class="col-sm-4">
                        <button class="mc-embedded-subscribe btn btn-lg btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe now</button>
                    </div>
                </form>
            </div>	
			<div id="notification_container" style="line-height: 0"></div>
	
			</div>
		</div>
	</div>
</section><section id="contact" class="home-section home-69 homepagesection-contact offsetTopL offsetBottomL white-bg" >
<div class="section-overlay"></div>
	
	<div class="container">	
		
			
		
		<div class="row">
			<div class="col-md-12">
					<div class="contact-info text-center"> <div class="ci-phone"><i class="fa fa-phone"></i> (0987) 654 321</div> <div class="ci-mail"><i class="fa fa-envelope"></i><a href="mailto:office@syncapp.com">office@syncapp.com</a></div> <div class="ci-address"><i class="fa fa-map-marker"></i><a href="http://goo.gl/UEZ7sS" target="_blank">1510 Lexington Ave, New York, NY 10029</a></div></div>
			</div>
		</div>
	</div>
</section><!--end content-->
    <!-- start footer -->
    <div id="footer" class="offsetTopS offsetBottomS text-center">
        <div class="container">

            <div class="row padding-b5">
                <div class="col-sm-12">
                    <ul class="social-icons text-center">
						                        <li class="facebook"><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
												                        <li class="googleplus"><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
												                        <li class="twitter"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
												                        <li class="dribbble"><a href="https://dribbble.com"><i class="fa fa-dribbble"></i></a></li>
												                        <li class="flickr"><a href="https://flickr.com"><i class="fa fa-flickr"></i></a></li>
						                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
				<ul id="menu-footer-menu" class="footer-links"><li id="menu-item-75"><a href="index.html#home">Home</a></li>
<li id="menu-item-74"><a href="sample-page-2/index.html">Sample Page</a></li>
<li id="menu-item-118"><a href="#">Terms</a></li>
<li id="menu-item-116"><a href="#">Privacy</a></li>
<li id="menu-item-117"><a href="category/news/index.html">News</a></li>
</ul>                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
					
				<div class="copyright">©Copyright 2014 - Sync. All rights reserved.</div>
				                </div>
            </div>
        </div>
    </div>

<script>
jQuery(document).ready(function($){
$('body #header').addClass('header-visible');
$('body.page-template-page-home-php #header').removeClass('header-visible');
$(window).scroll(function () {
var scaleBg = -$(window).scrollTop() / 10;
if ($(window).scrollTop() > 1) {
$('body.page-template-page-home-php #header').addClass('header-visible');
} else {
$('body.page-template-page-home-php #header').removeClass('header-visible');
}
});
});

</script>


