/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


a {
	color: #DC143C;	
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
	background: #c11135;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background: #DC143C;
}

.solid-bg-color {
	background-color: #DC143C;
}

hr.head-separator {
	border-color: #DC143C;
}

.btn-primary {
	background-color: #ce1338;
}

ul.os li:hover i {
	color: #fff;
	opacity: 1;
}

#nav a:hover {
	color: #DC143C;
}

.services h3, .services-item h3 {
	color: #DC143C;
}

.services-item:hover i {
	color: #DC143C;
	border-color: #DC143C;
}

.feat-list li i {
	background: #DC143C;
}
.feature-item i {
	background: #DC143C;
}

.os-big li:hover {
	background-color: #DC143C;
}

.ci-address a {
	color: #fff;
}

.ci-mail a {
	color: #fff;
}