<footer>
   <div class="twitter-feed fluid">
      <div class="container">
         <div class="twitter-feed-left"></div>
         <div class="twitter-feed-right">
            <div class="tweet-box">
               <p>Mukam has reached the 500 sales milestone. Thanks, who helped us to get this achievement! <a href='http://t.co/F28VTPbE7c'>http://t.co/F28VTPbE7c</a>  <a href='http://t.co/F28VTPbE7c'>http://t.co/F28VTPbE7c</a> </p>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-widget">
      <div class="container">
         <div class="row">
            <div class="span3">
               <div class="footer-menu">
                  <h3>Links</h3>
                  <div class="footer-divider"></div>
                  <div class="menu-footer-container">
                     <ul id="menu-footer" class="menu">
                        <li id="menu-item-2439" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-564 current_page_item menu-item-2439"><a href="http://bliccathemes.com/mestro/">Home</a></li>
                        <li id="menu-item-2399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2399"><a href="http://bliccathemes.com/mestro/blog/">Blog</a></li>
                        <li id="menu-item-2440" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2440"><a href="http://bliccathemes.com/mestro/pages/about-us/">About Us</a></li>
                        <li id="menu-item-2395" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2395"><a href="http://www.blicca.com/mestro/portfolio-2/portfolio-4-columns-masonry/">Portfolio</a></li>
                        <li id="menu-item-2444" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2444"><a href="http://bliccathemes.com/mestro/pages/services/">Services</a></li>
                        <li id="menu-item-2443" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2443"><a href="http://bliccathemes.com/mestro/features/">Features</a></li>
                        <li id="menu-item-2441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2441"><a href="http://bliccathemes.com/mestro/contact/">Contact</a></li>
                        <li id="menu-item-2442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2442"><a href="http://bliccathemes.com/mestro/pages/faq/">F.A.Q</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="span3">
               <div class="footer-menu">
                  <h3>About Us</h3>
                  <div class="footer-divider"></div>
                  <p class="footer_about">
                     Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes.
                     <br><br>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry.  The Lorem Ipsum has been the industry's standard dummy text ever since the you.
                  </p>
               </div>
               <div class="footer_about_tag">
                  <ul class='wp-tag-cloud'>
                     <li><a href='http://bliccathemes.com/mestro/tag/gallery/' class='tag-link-18' title='7 topics' style='font-size: 10px;'>gallery</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/graphic-design/' class='tag-link-20' title='7 topics' style='font-size: 10px;'>graphic design</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/illustration-2/' class='tag-link-24' title='7 topics' style='font-size: 10px;'>illustration</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/logo/' class='tag-link-5' title='6 topics' style='font-size: 10px;'>Logo</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/music/' class='tag-link-6' title='6 topics' style='font-size: 10px;'>Music</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/photoshop/' class='tag-link-30' title='7 topics' style='font-size: 10px;'>photoshop</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/soundcloud/' class='tag-link-32' title='6 topics' style='font-size: 10px;'>soundcloud</a></li>
                     <li><a href='http://bliccathemes.com/mestro/tag/video/' class='tag-link-33' title='6 topics' style='font-size: 10px;'>video</a></li>
                  </ul>
               </div>
            </div>
            <div class="span3">
               <div class="footer-menu">
                  <h3>Recent Posts</h3>
                  <div class="footer-divider"></div>
                  <div class="recent-post-container">
                     <div class="footer-recent-post">
                        <a href="http://bliccathemes.com/mestro/industrial-image-post/" title="Mestro Welcomes You!">                                        <img src="http://bliccathemes.com/mestro/wp-content/uploads/2013/07/port20-80x80.jpg" width="80" height="80" alt="Mestro Welcomes You!" /></a>
                        <div class="footer-recent-container">
                           <h4><a href="http://bliccathemes.com/mestro/industrial-image-post/" title="Mestro Welcomes You!">Mestro Welcomes You!</a></h4>
                           <p class="footer-recent-content">Printing and typesetting industry. Lorem Ipsum has&hellip;</p>
                           <p class="footer-recent-date">July 30, 2013</p>
                        </div>
                     </div>
                     <div class="footer-recent-post">
                        <a href="http://bliccathemes.com/mestro/sample-post-with-standard-image/" title="Sample Post with Standard Image">                                        <img src="http://bliccathemes.com/mestro/wp-content/uploads/2013/07/portfolio8-80x80.jpg" width="80" height="80" alt="Sample Post with Standard Image" /></a>
                        <div class="footer-recent-container">
                           <h4><a href="http://bliccathemes.com/mestro/sample-post-with-standard-image/" title="Sample Post with Standard Image">Sample Post with Standard Image</a></h4>
                           <p class="footer-recent-content">Printing and typesetting industry. Lorem Ipsum has&hellip;</p>
                           <p class="footer-recent-date">July 30, 2013</p>
                        </div>
                     </div>
                     <div class="footer-recent-post">
                        <a href="http://bliccathemes.com/mestro/another-gallery-post/" title="Another Gallery Post!">                                        <img src="http://bliccathemes.com/mestro/wp-content/uploads/2013/07/portfolio1-80x80.jpg" width="80" height="80" alt="Another Gallery Post!" /></a>
                        <div class="footer-recent-container">
                           <h4><a href="http://bliccathemes.com/mestro/another-gallery-post/" title="Another Gallery Post!">Another Gallery Post!</a></h4>
                           <p class="footer-recent-content">Printing and typesetting industry. Lorem Ipsum has&hellip;</p>
                           <p class="footer-recent-date">July 30, 2013</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="span3">
               <div class="footer-menu">
                  <h3>Contact Us</h3>
                  <div class="footer-divider"></div>
                  <div class="footer-contact-form">
                     <form action="http://bliccathemes.com/mestro/" id="contactForm" method="post">
                        <fieldset>
                           <div class="control-group">
                              <input class="input-xlarge" placeholder=" Name*" type="text" name="contactName" id="contactName" value="" />
                              <div class="clearfix"></div>
                           </div>
                           <div class="control-group">
                              <input class="input-xlarge" placeholder="  Email*" type="text" name="email" id="email" value="" />
                              <div class="clearfix"></div>
                           </div>
                           <div class="control-group">
                              <input class="input-xlarge" placeholder="  Subject*" type="text" name="subject" id="subject" value="" />
                              <div class="clearfix"></div>
                           </div>
                           <div class="control-group">
                              <textarea class="input-xlarge" placeholder="  Comment*" name="comments" id="commentsText" rows="3" cols="40"></textarea>
                           </div>
                           <div class="clearfix"></div>
                           <div class="comment-button">
                              <button type="submit" class="buton b_pink buton-1">Submit</button>
                              <input type="hidden" name="submitted" id="submitted" value="true" />
                           </div>
                        </fieldset>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="copyright-section">
      <div class="container">
         <div class="copyright-inner">
            Copyright 2012 @ MESTRO. All right reserved. <a href="http://www.blicca.com">Privacy Policy</a> | <a href="http://www.blicca.com">Term and Condition</a>
            <div class="social"><a class="facebook" href="#"></a><a class="twitter" href="#"></a><a class="flickr" href="#"></a><a class="google" href="#"></a><a class="dribbble" href="#"></a><a class="pinterest" href="#"></a><a class="linkedin" href="#"></a><a class="vimeo" href="#"></a><a class="youtube" href="#"></a><a class="skype" href="#"></a><a class="rss" href="#"></a></div>
         </div>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="bottom-company">
      <div class="container">
         <div class="row">
            <div class="span12">
               <div class="footerlogo"><a href="#" class="logo">
                  <img src="http://bliccathemes.com/mestro/wp-content/themes/mestro/img/footer_logo.png" alt="Mestro" class="footer-logo" /></a>
               </div>
               <div class="bottom-company-text">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the Lorem Ipsum has been the industry's standard dummy text ever since the you. Lorem Ipsum is simply dummy text of the printing and typesetting industry. the Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>