<div id="header">
   <!-- Logo and Menu -->
   <div class="responsive-full">
      <div class="container">
         <div class="navbar">
            <div class="navbar-inner">
               <div class="container">
                  <a href="http://bliccathemes.com/mestro" class="logo">
                     <%= image_tag('logo.png', class: 'logo') %>
                  </a>
                  <!-- Header menu -->
                  <ul id="menu-main" class="nav visible-desktop">
                     <li id="nav-menu-item-2400" class="dropdown menu-style1 menu1-c menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-564 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor current-page">
                        <a href="http://bliccathemes.com/mestro/" class="menu-link main-menu-link">Home</a>
                        <ul class="dropdown-menu ">
                           <li id="nav-menu-item-2402" class="   menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-564 current_page_item"><a href="http://bliccathemes.com/mestro/" class="menu-link sub-menu-link">Homepage 1</a></li>
                           <li id="nav-menu-item-2401" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-2/" class="menu-link sub-menu-link">Homepage 2</a></li>
                           <li id="nav-menu-item-2403" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-3/" class="menu-link sub-menu-link">Homepage 3</a></li>
                           <li id="nav-menu-item-2432" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-4-creative/" class="menu-link sub-menu-link">Homepage 4 &#8211; Creative</a></li>
                           <li id="nav-menu-item-2431" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-corporate/" class="menu-link sub-menu-link">Homepage 5 &#8211; Corporate</a></li>
                           <li id="nav-menu-item-2438" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-7-bloggy/" class="menu-link sub-menu-link">Homepage 6 &#8211; Bloggy</a></li>
                           <li id="nav-menu-item-2446" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/home/homepage-7-hosty/" class="menu-link sub-menu-link">Homepage 7 &#8211; Hosty</a></li>
                        </ul>
                     </li>
                     <li id="nav-menu-item-2393" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#" class="menu-link main-menu-link">Pages</a>
                        <ul class="dropdown-menu ">
                           <li id="nav-menu-item-2406" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/pages/about-us/" class="menu-link sub-menu-link">About Us</a></li>
                           <li id="nav-menu-item-2408" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/pages/services/" class="menu-link sub-menu-link">Services</a></li>
                           <li id="nav-menu-item-2427" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/pages/faq/" class="menu-link sub-menu-link">FAQ</a></li>
                           <li id="nav-menu-item-2396" class="   menu-item menu-item-type-custom menu-item-object-custom"><a href="http://www.bliccathemes.com/mestro/ERROR" class="menu-link sub-menu-link">404 &#8211; Error Page</a></li>
                        </ul>
                     </li>
                     <li id="nav-menu-item-2397" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="http://www.blicca.com/mestro/portfolio-4/" class="menu-link main-menu-link">Portfolio</a>
                        <ul class="dropdown-menu ">
                           <li id="nav-menu-item-2409" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/portfolio-2/portfolio-4/" class="menu-link sub-menu-link">Portfolio 4 Columns</a></li>
                           <li id="nav-menu-item-2412" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/portfolio-2/portfolio-3-column/" class="menu-link sub-menu-link">Portfolio 3 Column</a></li>
                           <li id="nav-menu-item-2411" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/portfolio-2/portfolio-2-columns/" class="menu-link sub-menu-link">Portfolio 2 Columns</a></li>
                           <li id="nav-menu-item-2410" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/portfolio-2/portfolio-1-column/" class="menu-link sub-menu-link">Portfolio 1 Column</a></li>
                        </ul>
                     </li>
                     <li id="nav-menu-item-2392" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-custom menu-item-object-custom">
                        <a href="#" class="menu-link main-menu-link">Features</a>
                        <ul class="dropdown-menu ">
                           <li id="nav-menu-item-2424" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/accordion/" class="menu-link sub-menu-link">Accordion</a></li>
                           <li id="nav-menu-item-2426" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/progress/" class="menu-link sub-menu-link">Progress Bar</a></li>
                           <li id="nav-menu-item-2422" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/tables/" class="menu-link sub-menu-link">Pricing Tables</a></li>
                           <li id="nav-menu-item-2453" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/our-team/" class="menu-link sub-menu-link">Our Team</a></li>
                           <li id="nav-menu-item-2428" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/image-gallery/" class="menu-link sub-menu-link">Image &#038; Gallery</a></li>
                           <li id="nav-menu-item-2429" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/tabs-tour-section/" class="menu-link sub-menu-link">Tabs &#038; Tour Section</a></li>
                           <li id="nav-menu-item-2447" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/maps/" class="menu-link sub-menu-link">Maps</a></li>
                           <li id="nav-menu-item-2414" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/columns/" class="menu-link sub-menu-link">Columns</a></li>
                           <li id="nav-menu-item-2423" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/alerts/" class="menu-link sub-menu-link">Alerts</a></li>
                           <li id="nav-menu-item-2415" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/buttons/" class="menu-link sub-menu-link">Buttons</a></li>
                           <li id="nav-menu-item-2430" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/teaser-samples/" class="menu-link sub-menu-link">Teaser Samples</a></li>
                           <li id="nav-menu-item-2445" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/video/" class="menu-link sub-menu-link">Social Share</a></li>
                           <li id="nav-menu-item-2451" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/dividers/" class="menu-link sub-menu-link">Dividers</a></li>
                           <li id="nav-menu-item-2425" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/social-buttons/" class="menu-link sub-menu-link">Social Buttons</a></li>
                           <li id="nav-menu-item-2404" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/features/typography/" class="menu-link sub-menu-link">Typography</a></li>
                        </ul>
                     </li>
                     <li id="nav-menu-item-2407" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="http://bliccathemes.com/mestro/blog/" class="menu-link main-menu-link">Blog</a>
                        <ul class="dropdown-menu ">
                           <li id="nav-menu-item-2475" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/blog/" class="menu-link sub-menu-link">Blog Classic</a></li>
                           <li id="nav-menu-item-2413" class="   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/blog/blog-newspaper/" class="menu-link sub-menu-link">Blog Newspaper</a></li>
                        </ul>
                     </li>
                     <li id="nav-menu-item-2405" class="dropdown menu-style1 menu1-c   menu-item menu-item-type-post_type menu-item-object-page"><a href="http://bliccathemes.com/mestro/contact/" class="menu-link main-menu-link">Contact</a></li>
                  </ul>
                  <div class="menu-main-container">
                     <form>
                        <select class="nav-responsive hidden-desktop" onchange="if (this.value) window.location.href=this.value">
                           <option value="http://bliccathemes.com/mestro/"> Home</option>
                           <option value="http://bliccathemes.com/mestro/">-- Homepage 1</option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-2/">-- Homepage 2</option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-3/">-- Homepage 3</option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-4-creative/">-- Homepage 4 - Creative </option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-corporate/">-- Homepage 5 - Corporate</option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-7-bloggy/">-- Homepage 6 - Bloggy</option>
                           <option value="http://bliccathemes.com/mestro/home/homepage-7-hosty/">-- Homepage 7 - Hosty</option>
                           <option value=""> Pages</option>
                           <option value="http://bliccathemes.com/mestro/pages/about-us/">-- About Us</option>
                           <option value="http://bliccathemes.com/mestro/pages/services/">-- Services</option>
                           <option value="http://bliccathemes.com/mestro/pages/faq/">-- FAQ</option>
                           <option value="http://www.bliccathemes.com/mestro/ERROR">-- 404 - Error Page</option>
                           <option value="http://www.blicca.com/mestro/portfolio-4/"> Portfolio</option>
                           <option value="http://bliccathemes.com/mestro/portfolio-2/portfolio-4/">-- Portfolio 4 Columns</option>
                           <option value="http://bliccathemes.com/mestro/portfolio-2/portfolio-3-column/">-- Portfolio 3 Column</option>
                           <option value="http://bliccathemes.com/mestro/portfolio-2/portfolio-2-columns/">-- Portfolio 2 Columns</option>
                           <option value="http://bliccathemes.com/mestro/portfolio-2/portfolio-1-column/">-- Portfolio 1 Column</option>
                           <option value=""> Features</option>
                           <option value="http://bliccathemes.com/mestro/features/accordion/">-- Accordion</option>
                           <option value="http://bliccathemes.com/mestro/features/progress/">-- Progress Bar</option>
                           <option value="http://bliccathemes.com/mestro/features/tables/">-- Pricing Tables</option>
                           <option value="http://bliccathemes.com/mestro/features/our-team/">-- Our Team</option>
                           <option value="http://bliccathemes.com/mestro/features/image-gallery/">-- Image & Gallery</option>
                           <option value="http://bliccathemes.com/mestro/features/tabs-tour-section/">-- Tabs & Tour Section</option>
                           <option value="http://bliccathemes.com/mestro/features/maps/">-- Maps</option>
                           <option value="http://bliccathemes.com/mestro/features/columns/">-- Columns</option>
                           <option value="http://bliccathemes.com/mestro/features/alerts/">-- Alerts</option>
                           <option value="http://bliccathemes.com/mestro/features/buttons/">-- Buttons</option>
                           <option value="http://bliccathemes.com/mestro/features/teaser-samples/">-- Teaser Samples</option>
                           <option value="http://bliccathemes.com/mestro/features/video/">-- Social Share</option>
                           <option value="http://bliccathemes.com/mestro/features/dividers/">-- Dividers</option>
                           <option value="http://bliccathemes.com/mestro/features/social-buttons/">-- Social Buttons</option>
                           <option value="http://bliccathemes.com/mestro/features/typography/">-- Typography</option>
                           <option value="http://bliccathemes.com/mestro/blog/"> Blog</option>
                           <option value="http://bliccathemes.com/mestro/blog/">-- Blog Classic</option>
                           <option value="http://bliccathemes.com/mestro/blog/blog-newspaper/">-- Blog Newspaper</option>
                           <option value="http://bliccathemes.com/mestro/contact/"> Contact</option>
                        </select>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>