<div class="top_section">
 <div class="container">
  <div class="number">+(855)86 844 487</div>
  <div class="social"><a class="facebook" href="#"></a><a class="twitter" href="#"></a><a class="flickr" href="#"></a><a class="google" href="#"></a><a class="dribbble" href="#"></a><a class="pinterest" href="#"></a><a class="linkedin" href="#"></a><a class="vimeo" href="#"></a><a class="youtube" href="#"></a><a class="skype" href="#"></a><a class="rss" href="#"></a></div>
</div>
</div>